[Unit]
Description=Postfix Greylisting Service
Before=postfix.service

[Service]
Type=simple
RuntimeDirectory=/var/run/postgrey
User=postgrey
Group=postgrey
ExecStart=/usr/sbin/postgrey --inet=127.0.0.1:10030 \
	--pidfile=/var/run/postgrey/postgrey.pid \
	--group=postgrey --user=postgrey \
	--greylist-text="Greylisted for %%s seconds"
Restart=always
RestartSec=5
TimeoutSec=10

[Install]
WantedBy=multi-user.target

